<h2>Add a Cuisine</h2>
<form action="/cuisines" method="post">
  <label for="newCuisine">Add a new Cuisine</label>
  <input type="text" name="newCuisine">
  <button type="submit" name="button">Add!!!</button>


</form>
